

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyURL App</title>
    <style>
      tr, td, th {
        line-height: 1.5em;
        width: 25%;
      }
      button {
        width: 100%;
        background: #666666;
        color: white;
      }
      #allPage {
        width: 980px;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body style="font-size:20px; padding:50px">
    <div id="allPage">
      <% include ./partials/_header %>
          <table style="margin: 50px auto;">
            <tr style="font-weight: bold; font-size: 1.5em; line-height: 1.5em;">
              <td colspan="4" style="text-align: center">URL Show</td>
            </tr>
            <tr>
              <td>
                <h4>Short URL:</h4>
              </td>
              <td>
                <a href="/u/<%= shortURL %>"><%= shortURL %></a>
              </td>
              <td>
                <h4>Long URL:</h4>
              </td>
              <td>
                <a href="<%= longURL %>"><%= longURL %></a>
              </td>
            </tr>
          </table>
          <div style="margin:10px auto; width: 50%">
            <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
              <input type="text" name="longURL" id="longURL" placeholder="http://" style="width:400px">
              <input type="submit" value="Update">
            </form>
          </div>
          <div style="margin-top:20px; margin-right:150px; float:right;">
            <a href="/urls" >Home</a>
          </div>
      </div>
  </body>
</html>