

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyURL App</title>
    <style>
      tr, td, th {
        line-height: 1.5em;
      }
      button {
        width: 100%;
        background: #666666;
        color: white;
      }

    </style>
  </head>
  <body style="font-size:20px; padding:50px">
    <div id="allPage">
      <div>
        <% include ./partials/_header %>
      </div>
      <div style="margin-top:50px; margin-left:150px">
        <table>
          <tr style="font-weight: bold; font-size: 1.5em; line-height: 3em;">
            <td colspan="4" style="text-align: center">URL Index</td>
          </tr>
          <% for(var url in urls) { %>
            <% for (var key in urls[url]) {%>
              <% if (key === "url") { %>
          <tr>
            <td style="width: 300px">
              <a href="<%= urls[url][key] %>"><%= urls[url][key] %></a>
            </td>
            <td style="width: 50px">
              <a href="/urls/<%= url %>">Edit</a>
            </td>
            <td>
              <form method="POST" action="/urls/<%= url %>/delete">
                <input type="submit" value="Delete">
              </form>
            </td>
            <td>
              <form method="POST" action="/urls/<%= url %>">
                <input type="submit" value="Short URL">
              </form>
            </td>
          </tr>
              <% } %>
            <% } %>
          <% } %>
          <tr>
            <td colspan="4"><a href="/urls/new/"><button>Generate Short URL</button></a></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>